#  ** ¡ ~•~ [ user: 0x1337 ] ~•~ ! **
**/** filter=git-crypt diff=git-crypt
#  ** ¡ The password is not here ! **

        docs/* -filter

       **/*.md -filter
    CODEOWNERS -filter
.gitattributes -filter

# Copyright © 2025 all rights reserved
